:root {
  /* TITLE: FONT SIZE SYSTEM */
  --fs-10: clamp(0.6rem, calc(1vw + 0.2rem), 1rem); /* 10px */
  --fs-12: clamp(0.75rem, calc(1vw + 0.3rem), 1.2rem); /* 12px */
  --fs-14: clamp(0.875rem, calc(1vw + 0.4rem), 1.4rem); /* 14px */
  --fs-16: clamp(1rem, calc(1vw + 0.5rem), 1.6rem); /* 16px */
  --fs-18: clamp(1.125rem, calc(1.2vw + 0.6rem), 1.8rem); /* 18px */
  --fs-20: clamp(1.25rem, calc(1.4vw + 0.7rem), 2rem); /* 20px */
  --fs-24: clamp(1.5rem, calc(2vw + 0.8rem), 2.4rem); /* 24px */
  --fs-30: clamp(1.875rem, calc(2.5vw + 1rem), 3rem); /* 30px */
  --fs-36: clamp(2.25rem, calc(3vw + 1.2rem), 3.6rem); /* 36px */
  --fs-44: clamp(2.75rem, calc(3.5vw + 1.5rem), 4.4rem); /* 44px */
  --fs-52: clamp(3.25rem, calc(4vw + 1.8rem), 5.2rem); /* 52px */
  --fs-62: clamp(3.875rem, calc(5vw + 2rem), 6.2rem); /* 62px */
  --fs-74: clamp(4.625rem, calc(6vw + 2.5rem), 7.4rem); /* 74px */
  --fs-86: clamp(5.375rem, calc(7vw + 3rem), 8.6rem); /* 86px */
  --fs-98: clamp(6.125rem, calc(8vw + 3.5rem), 9.8rem); /* 98px */

  /* TITLE: WHITESPACE SYSTEM */
  --space-02: clamp(0.12rem, 0.3vw, 0.25rem); /* 2px */
  --space-04: clamp(0.25rem, 0.5vw, 0.4rem); /* 4px */
  --space-08: clamp(0.5rem, 1vw, 0.8rem); /* 8px */
  --space-12: clamp(0.75rem, 1.2vw, 1.2rem); /* 12px */
  --space-16: clamp(1rem, 1.5vw, 1.6rem); /* 16px */
  --space-24: clamp(1.5rem, 2vw, 2.4rem); /* 24px */
  --space-32: clamp(2rem, 2.5vw, 3.2rem); /* 32px */
  --space-48: clamp(3rem, 3.5vw, 4.8rem); /* 48px */
  --space-64: clamp(4rem, 5vw, 6.4rem); /* 64px */
  --space-80: clamp(5rem, 6vw, 8rem); /* 80px */
  --space-96: clamp(6rem, 7vw, 9.6rem); /* 96px */
  --space-128: clamp(8rem, 9vw, 12.8rem); /* 128px */

  /* TITLE: COLORS */
  --color-red: #d32f2f;
  --color-blue: #1976d2;
  --color-green: #388e3c;
  --color-yellow: #fbc02d;
  --color-white: #e0e0e0;

  --color-blue-100: #00193f;
  --color-blue-200: #1e1e2f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-color: var(--color-blue-200); */
  background: linear-gradient(135deg, #121212, #1e1e2f);
  font-family: 'Luckiest Guy', cursive;
  color: #f0f0f3;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1.5fr;
  grid-template-areas: 'move_select' 'moves' 'controls';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move_select {
  grid-area: move_select;

  gap: var(--space-24);
}

.moves {
  grid-area: moves;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);

  button:nth-child(1) {
    background-color: var(--color-red);

    &:hover {
      box-shadow:
        3px 3px 0 var(--color-yellow),
        6px 6px 0 var(--color-green),
        9px 9px 0 var(--color-blue);
    }
  }
  button:nth-child(2) {
    background-color: var(--color-blue);

    &:hover {
      box-shadow:
        3px 3px 0 var(--color-green),
        6px 6px 0 var(--color-yellow),
        9px 9px 0 var(--color-red);
    }
  }
  button:nth-child(3) {
    background-color: var(--color-green);

    &:hover {
      box-shadow:
        3px 3px 0 var(--color-yellow),
        6px 6px 0 var(--color-red),
        9px 9px 0 var(--color-blue);
    }
  }
}

.controls {
  grid-area: controls;
  gap: var(--space-16);
}

@keyframes colorLoop {
  0% {
    color: var(--color-red);
  }
  25% {
    color: var(--color-blue);
  }
  50% {
    color: var(--color-green);
  }
  75% {
    color: var(--color-yellow);
  }
  100% {
    color: var(--color-red);
  }
}

.heading {
  font-weight: normal;
  text-align: center;
  font-size: var(--fs-44);

  span {
    animation: colorLoop 8s ease-in-out infinite;
  }

  span:nth-child(2) {
    animation-delay: -1.5s;
  }
  span:nth-child(3) {
    animation-delay: -3s;
  }
  span:nth-child(4) {
    animation-delay: -4.5s;
  }
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: var(--space-08);
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  background-color: var(--ui-color);
  color: var(--color-white);
  background-color: black;
  cursor: pointer;
  border: none;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.35s ease;

  transform: translate(-6px, 0);

  &:active {
    transform: scale(1) translate(-8px, 0);
  }

  &:hover&:active {
    box-shadow: none;
    transform: scale(1) translate(-6px, 0);
  }
}

.btn-style:hover {
  transform: scale(1) translate(-16px, -8px);
}

.reset,
.result {
  opacity: 1;
  visibility: visible;
}

.reset {
  color: black;
  background-color: var(--color-yellow);

  transform: scale(1.08) translate(-16px, -8px);
  box-shadow:
    3px 3px 0 var(--color-red),
    6px 6px 0 var(--color-blue),
    9px 9px 0 var(--color-green);
}

.result {
  font-size: var(--fs-20);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
